@font-face {
  font-family: 'iconfont'; /* Project id 3860883 */
  src: url('//at.alicdn.com/t/c/font_3860883_gtc84nxme7u.woff2?t=1706632498014')
      format('woff2'),
    url('//at.alicdn.com/t/c/font_3860883_gtc84nxme7u.woff?t=1706632498014')
      format('woff'),
    url('//at.alicdn.com/t/c/font_3860883_gtc84nxme7u.ttf?t=1706632498014')
      format('truetype'),
    url('//at.alicdn.com/t/c/font_3860883_gtc84nxme7u.svg?t=1706632498014#iconfont')
      format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixingongzhonghao:before {
  content: '\e705';
}

.icon-jiaocheng:before {
  content: '\e666';
}

.icon-Bzhan:before {
  content: '\e600';
}

.icon-wf_Bzhan:before {
  content: '\e602';
}

.icon-wf_Bzhan1:before {
  content: '\e603';
}

.icon-kuaishou3:before {
  content: '\e60c';
}

.icon-submit:before {
  content: '\e675';
}

.icon-douyin_douyin:before {
  content: '\e614';
}

.icon-douyin:before {
  content: '\e601';
}

.icon-gengduo:before {
  content: '\e719';
}

.icon-huifu:before {
  content: '\eb23';
}

.icon-chakantiezishijian:before {
  content: '\e665';
}

.icon-sousuo:before {
  content: '\e693';
}

.icon-chakan:before {
  content: '\e6bd';
}

.icon-GitHub:before {
  content: '\e8c6';
}

.icon-centos:before {
  content: '\e64b';
}

.icon-python:before {
  content: '\e690';
}

.icon-mysql:before {
  content: '\e76a';
}

.icon-kubernetes:before {
  content: '\ebee';
}

.icon-nginx:before {
  content: '\e604';
}

.icon-eslint:before {
  content: '\e605';
}

.icon-node-js:before {
  content: '\e606';
}

.icon-webpack:before {
  content: '\e607';
}

.icon-react:before {
  content: '\e608';
}

.icon-typescript:before {
  content: '\e609';
}

.icon-docker:before {
  content: '\e60a';
}

.icon-Vue:before {
  content: '\e799';
}
